<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BDGG</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

        <!-- Style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        <!-- Navbar -->
    {% if g.is_login %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">BDGG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdggNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bdggNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">{{ g.name }}</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('user.dashboard.index') }}">계정 관리</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('user.dashboard.file') }}">파일 관리</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% if g.is_admin %}
                                <li><a class="dropdown-item" href="{{ url_for('admin.user_list') }}">부대찌개 관리자</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('admin.register') }}">계정 등록</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                                <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">로그아웃</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('file.search') }}">파일 검색</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('upload.form') }}">업로드</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}

        {% block content %}{% endblock %}

        <!-- Script -->
        <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>