<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BDGG</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

        <!-- Style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        {% block content %}{% endblock %}

        <!-- Script -->
        <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>