{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="pt-5 pb-3">
            <h1 class="display-5 fw-bold">파일 업로드</h1>
            <p class="lead">업로드된 파일은 암호화후 접근이 가능합니다.</p>
        </div>

        <form method="post" action="{{ url_for('upload.upload') }}">
            <div>
                <input type="file" class="form-control" name="upload" required="required">
            </div>

            <div class="mt-4 d-grid">
                <button class="btn btn-lg btn-outline-dark" type="submit">업로드</button>
            </div>
        </form>
    </div>
{% endblock %}