{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <form style="max-width:480px;margin:auto" method="POST" onsubmit="return ask();">
            <h1 class="display-5 text-center fw-bold mb-4 mt-5">유저 수정</h1>

            <div class="form-floating mb-2 mt-5">
                <input type="email" class="form-control" id="em" name="email" placeholder="이메일" maxlength="128" value="{{ user.email }}" required>
                <label for="em">이메일</label>
            </div>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="pw" name="password" placeholder="새 비밀번호" minlength="8" value="">
                <label for="pw">새 비밀번호</label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="scopeSelect" name="scope">
                {% if user.is_admin %}
                    <option selected value="admin">관리자</option>
                    <option value="user">유저</option>
                {% else %}
                    <option selected value="user">유저</option>
                    <option value="admin">관리자</option>
                {% endif %}
                </select>
                <label for="scopeSelect">권한 선택</label>
            </div>

            <div class="mt-4 d-grid">
                <button class="btn btn-lg btn-outline-primary" type="submit">수정하기</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        const passwordInput = document.getElementById("pw");
        passwordInput.onchange = function(){
            window.alert("주의! 사용자의 비밀번호를 변경하고 있습니다!");
        }

        function ask(){
            let message = "유저 정보를 수정하겠습니까?";

            if(passwordInput.value.length != 0){
                message += "\n* 사용자의 비밀번호가 변경됩니다.";
            }

            if(document.getElementById("scopeSelect").value == "admin"){
                message += "\n* 적용될 사용자의 권한 : 관리자";
            } else {
                message += "\n* 적용될 사용자의 권한 : 사용자";
            }

            let result = window.confirm(message);
            return result
        }
    </script>
{% endblock %}