{% extends 'layout.html' %}
{% block content %}
    <div class="container pb-5">
        <form style="max-width:480px;margin:auto" method="POST" onsubmit="return ask();">
            <h1 class="display-5 text-center fw-bold mb-4 mt-5">유저 수정</h1>

            <div class="form-floating mb-2 mt-5">
                <input type="email" class="form-control" id="em" name="email" placeholder="이메일" maxlength="128" value="{{ user.email }}" required>
                <label for="em">이메일</label>
            </div>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="pw" name="password" placeholder="새 비밀번호" minlength="8" value="">
                <label for="pw">새 비밀번호</label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="scopeSelect" name="scope">
                {% if user.is_admin %}
                    <option selected value="admin">관리자</option>
                    <option value="user">유저</option>
                {% else %}
                    <option selected value="user">유저</option>
                    <option value="admin">관리자</option>
                {% endif %}
                </select>
                <label for="scopeSelect">권한 선택</label>
            </div>

            <div class="mt-4 d-grid">
                <button class="btn btn-lg btn-outline-primary" type="submit">유저 정보 수정하기</button>
            </div>
        {% if user.id != 1 %}
            <div class="mt-4 d-grid">
                <a class="btn btn-lg btn-outline-danger" href="{{ url_for('admin.delete', user_id=user.id) }}">유저 삭제하기</a>
            </div>
        {% endif %}
        </form>

        <div>
            <h1 class="display-5 text-center fw-bold mb-4 mt-5">로그인 세션</h1>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">로그인 시간</th>
                        <th scope="col">운영 체제</th>
                        <th scope="col">정보</th>
                    </tr>
                </thead>
                <tbody>
                {% for this in logins %}
                    {% if not this.expired|is_expired %}
                    <tr class="bdgg-session-remove" data-bdgg-session-id="{{ this.id }}">
                        <th scope="row">{{ this.date }}</th>
                        <td>{{ this.user_agent|user_agent_os }}</td>
                        <td>{{ this.user_agent|user_agent_browser }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const passwordInput = document.getElementById("pw");
        passwordInput.onchange = function(){
            window.alert("주의! 사용자의 비밀번호를 변경하고 있습니다!");
        }

        function ask(){
            let message = "유저 정보를 수정하겠습니까?";

            if(passwordInput.value.length != 0){
                message += "\n* 사용자의 비밀번호가 변경됩니다.";
            }

            if(document.getElementById("scopeSelect").value == "admin"){
                message += "\n* 적용될 사용자의 권한 : 관리자";
            } else {
                message += "\n* 적용될 사용자의 권한 : 사용자";
            }

            let result = window.confirm(message);
            return result
        }

        document.querySelectorAll(".bdgg-session-remove").forEach(function(element){
            element.addEventListener('click',function(e){
                let id = e.target.dataset.bdggSessionId;
                if(window.confirm("해당 세션을 만료시키겠습니까?")){location.href=`/session/remove/${id}`;}
            });
        });
    </script>
{% endblock %}