{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">권한</th>
                </tr>
            </thead>
            <tbody>
            {% for this in user %}
                <tr>
                    <th scope="row">{{ this.id }}</th>
                    <td><a href="{{ url_for('admin.user_edit', user_id=this.id) }}">{{ this.email }}</a></td>
                    <td>{{ this.is_admin|permission }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}