{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <form style="max-width:600px;" method="POST">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">권한</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>abc@def.com</td>
                        <td>관리자</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>abc@def.com</td>
                        <td>유저</td>
                    </tr>

                </tbody>

            </table>
        </form>
    </div>
{% endblock %}