{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <form style="max-width:480px;margin:auto" method="POST">
            <h1 class="display-5 text-center fw-bold mb-4 mt-5">관리자 계정 등록</h1>

            <div class="form-floating mb-2 mt-5">
                <input type="email" class="form-control" id="em" name="email" placeholder="이메일" maxlength="128" required>
                <label for="em">이메일</label>
            </div>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="pw" name="password" placeholder="비밀번호" minlength="8" required>
                <label for="pw">비밀번호</label>
            </div>

            <div class="mt-4 d-grid">
                <button class="btn btn-lg btn-outline-primary btn-block" type="submit">다음</button>
            </div>
        </form>
    </div>
{% endblock %}